#pink-button {
  background: pink;
  color: black;
}

#green-button {
  background: green;
  color: white;
}

#brown-button {
  background: #964B00;
  color: white;
}

#red-button {
  background: red;
  color: white;
}

#yellow-button {
  background: yellow;
  color: black;
}

#white-button {
  background: white;
  color: black;
}

#black-button {
  background: black;
  color: white;
}

#blue-button {
  background: blue;
  color: white;
}

#teal-button {
  background: teal;
  color: black;
}

#grey-button {
  background: grey;
  color: black;
}

#tan-button {
  background: tan;
  color: black
}

#orange-button {
  background: orange;
  color: black;
}

#purple-button {
  background: purple;
  color: black;
}