#color-button-container button {
  width: 50%;
  font-weight: bold;
}

#white-button {
  background: white;
  color: black;
}

#black-button {
  background: black;
  color: white;
}

#grey-button {
  background: #828080;
  color: black;
}

#red-button {
  background: #EE592A;
  color: white;
}

#yellow-button {
  background: #F8FF61;
  color: black;
}

#orange-button {
  background: #F2B745;
  color: black;
}

#brown-button {
  background: #8F5A20;
  color: white;
}

#tan-button {
  background: #CCBC94;
  color: black
}

#pink-button {
  background: #F8C7CD;
  color: black;
}

#purple-button {
  background: #7C0D7A;
  color: black;
}

#blue-button {
  background: #4700F3;
  color: white;
}

#green-button {
  background: #268028;
  color: white;
}

#teal-button {
  background: #327B7F;
  color: black;
}