html, body { height: 100vh; }

:root {
  --background-color: #101112;
}

body {
  width: 100%;
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: "Open Sans", "Lucida Grande", Tahoma, sans-serif;
}

html {
  overflow: hidden;
}

.is-container {
  background: #181a1f;
}

#search-button {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #ffffff;
	font-size: 100%;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: 0px;
	width: 20%;
	margin-top: 10px;
}

#search-text, #start-page-number {
	padding: 5px 5px 5px 5px;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	width: 19%;
	height: 20%;
	border: 0px;
	background: #292d36;
	color: #ffffff;
}

@media screen and (max-width: 769px) {
  .options {
    margin: auto;
  }
}

.options {
  font-size: 100%;
	text-align: center;
	background: #181a1f;
	padding: 10px;
  width: 90%;
	border-radius: 5px;
	color: #fff;
	overflow: auto;
}

.options input[type=number] {
	height: 10%;
	text-align: center;
	background: #292d36;
	padding: 5px;
	border-radius: 5px;
	border: 0px;
	color: #fff;
	margin-top: 10px;
	display: inline-block;
}

.options input[type=checkbox] {
  margin: revert;
}

.options input:disabled {
	color: #777;
}

textarea {
	width: 100%;
}

textarea, #e621-api-key, #e621-username {
	background: #181a1f;
	color: #999;
}

textarea:focus, #e621-api-key:focus, #e621-username:focus {
	background: #292c3e;
	color: #fff;
}

textarea::-webkit-input-placeholder {
	color: #555;
}

textarea[pattern]:invalid {
	color: red;
}

.note {
	color: #888;
	font-size: 0.8em;
}

button:disabled {
	color: darkgrey;
}

#slide-wrapper {
	position: relative;
	display: absolute;
	text-align: center;
	overflow: hidden;
	clear: both;
	/*padding:0px 50px 10px 50px;*/
}

#loading-animation {
	display: none;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#current-image, #current-video {
	text-align: center;
	margin: auto;
}

#navigation, #current-image, #current-video {
	display: none;
	margin: 10px;
	text-align: center;
	border: 0px;
}

a {
	color: #aaa;
}

#clear-history, #view-favorites, #clear-seen {
	background: #091a25;
	background-image: -webkit-linear-gradient(top, #0d293b, #0c2a3d);
	background-image: -moz-linear-gradient(top, #0d293b, #0c2a3d);
	background-image: -ms-linear-gradient(top, #0d293b, #0c2a3d);
	background-image: -o-linear-gradient(top, #0d293b, #0c2a3d);
	background-image: linear-gradient(to bottom, #0d293b, #0c2a3d);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #ffffff;
	font-size: 100%;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: 0px;
	margin-top: 10px;
}

#clear-history:hover, #view-favorites:hover, #clear-seen:hover {
	background: #65791d;
	background-image: -webkit-linear-gradient(top, #6a8a20, #7c991b);
	background-image: -moz-linear-gradient(top, #6a8a20, #7c991b);
	background-image: -ms-linear-gradient(top, #6a8a20, #7c991b);
	background-image: -o-linear-gradient(top, #6a8a20, #7c991b);
	background-image: linear-gradient(to bottom, #6a8a20, #7c991b);
  cursor: pointer;
}

#thumbnail-list-wrapper {
	text-align: center;
}

#thumbnail-list {
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
}

.thumbnail {
	height: 100px;
	width: 100px;
	padding: 3px;
	text-align: center;
	float: left;
}

.thumbnail:hover {
	background-color: #bbb;
}

.thumbnail-image {
	max-width: 100%;
	max-height: 100%;
}

.thumbnail-image-greyed-out {
	opacity: 0.5;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#favorite-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background: #d6d6d6;
	background-image: -webkit-linear-gradient(top, #d6d6d6, #b9b9b9);
	background-image: -moz-linear-gradient(top, #d6d6d6, #b9b9b9);
	background-image: -ms-linear-gradient(top, #d6d6d6, #b9b9b9);
	background-image: -o-linear-gradient(top, #d6d6d6, #b9b9b9);
	background-image: linear-gradient(to bottom, #d6d6d6, #b9b9b9);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	border: 0px;
	color: #000;
	font-size: 2em;
}

#favorite-button:hover {
	background: #86b6d6;
	background-image: -webkit-linear-gradient(top, #86b6d6, #729bb6);
	background-image: -moz-linear-gradient(top, #86b6d6, #729bb6);
	background-image: -ms-linear-gradient(top, #86b6d6, #729bb6);
	background-image: -o-linear-gradient(top, #86b6d6, #729bb6);
	background-image: linear-gradient(to bottom, #86b6d6, #729bb6);
}

#favorite-button:active {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

#favorite-button.faved {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	color: rgb(255, 157, 170);
}

#favorite-button.faved:hover {
	background: #86b6d6;
	background-image: -webkit-linear-gradient(top, #86b6d6, #729bb6);
	background-image: -moz-linear-gradient(top, #86b6d6, #729bb6);
	background-image: -ms-linear-gradient(top, #86b6d6, #729bb6);
	background-image: -o-linear-gradient(top, #86b6d6, #729bb6);
	background-image: linear-gradient(to bottom, #86b6d6, #729bb6);
}

#favorite-button.faved:active {
	background: #d6d6d6;
	background-image: -webkit-linear-gradient(top, #d6d6d6, #b9b9b9);
	background-image: -moz-linear-gradient(top, #d6d6d6, #b9b9b9);
	background-image: -ms-linear-gradient(top, #d6d6d6, #b9b9b9);
	background-image: -o-linear-gradient(top, #d6d6d6, #b9b9b9);
	background-image: linear-gradient(to bottom, #d6d6d6, #b9b9b9);
}

.nav-button {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	border: 0px;
	color: #FFF;
}

#warning-message {
	background: #c33;
	text-align: center;
  color: #fff;
	display: none;
}

#info-message {
	background: #3498db;
	text-align: center;
  color: #fff;
	display: none;
}

.hidden {
  display: none !important;
}