#tag-container {
  background: transparent;
  overflow: auto;
}

.general-tag-category {
  background: #b4c7d9 !important;
  color: black !important;
}

.artist-tag-category {
  background: #f2ac08 !important;
  color: white !important;
}

.copyright-tag-category {
  background: #d0d !important;
  color: white !important;
}

.character-tag-category {
  background: #0a0 !important;
  color: white !important;
}

.species-tag-category {
  background: #ed5d1f !important;
  color: white !important;
}

.invalid-tag-category {
  background: #ff3d3d !important;
  color: white !important;
}

.meta-tag-category {
  background: #fff !important;
  color: black !important;
}

.lore-tag-category {
  background: #282 !important;
  color: white !important;
}

.NEWTAG-tag-category {
  background: #03fcdb !important;
  color: black !important;
}

.general-tag-color {
  color: #b4c7d9 !important;
}

.artist-tag-color {
  color: #f2ac08 !important;
}

.copyright-tag-color {
  color: #d0d !important;
}

.character-tag-color {
  color: #0a0 !important;
}

.species-tag-color {
  color: #ed5d1f !important;
}

.invalid-tag-color {
  color: #ff3d3d !important;
}

.meta-tag-color {
  color: #fff !important;
}

.lore-tag-color {
  color: #282 !important;
}

.NEWTAG-tag-color {
  color: #03fcdb !important;
}

.tag a {
  color: inherit;
  text-decoration: underline;
}

.tag {
  width: fit-content;
  border-radius: 5px;
}

.has-active-children {
  color: gold;
  /* text-shadow: 0 0 2px gold, 0 0 2px gold, 0 0 2px gold, 0 0 2px gold; */
}

.tree {
  --spacing: 1.5rem;
  --spacing-y: 0.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-top: calc(var(--spacing-y)) !important;
  margin-left: calc(var(--radius) - var(--spacing)) !important;
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

/* .tree ul li:last-child {
  border-color: transparent;
} */

.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing-y) * -1 - var(--radius) - 4px);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + var(--spacing-y) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: inline-block;
  cursor: pointer;
  line-height: 24px;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.tree summary.show-implications-button::before {
  z-index: 1;
  background: no-repeat #ddd url("/img/eye-regular.svg") 0;
}

.tree summary.hide-implications-button::before {
  z-index: 1;
  background: no-repeat #ddd url("/img/eye-slash-regular.svg") 0;
}

.tree summary:not(.no-icon)::before {
  z-index: 1;
  background: #696 url("/img/expand-collapse.svg") 0 0;
}

.tree details[open]>summary:not(.no-icon)::before {
  background: #d73737 url("/img/expand-collapse.svg") 0 0;
  background-position: calc(-2 * var(--radius)) 0;
}

ul {
  list-style: none !important;
  margin: 0 !important;
}

.custom-modal.is-active {
  display: flex;
}

.custom-modal {
  align-items: center;
  flex-direction: column;
  display: none;
  overflow: hidden;
  z-index: 40;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#autocomplete-menu {
  background-color: var(--background-color);
}

button.dropdown-item {
  background-color: transparent;
}

/* button.dropdown-item:hover {
  background-color: var(--background-color);
  border: 1px solid red !important;
} */

button.dropdown-item.active {
  background-color: var(--background-color);
  border: 1px solid red !important;
}

.new-tag {
  border: 4.5px solid rgb(0, 116, 0) !important;
}

.removed-tag {
  border: 4.5px solid red !important;
}

.is-review-existing-tag {
  border: 4.5px solid yellow !important;
}