<!DOCTYPE html>

<html>

<head>
  <title>Yiff Today - Color Dataset</title>

  <%- include("./partials/head"); %>
  <link rel="stylesheet" href="/css/colordataset.css">
</head>

<body>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          yiff.today Color Dataset Viewer
        </p>
        <p class="subtitle">
          See what colors other people are tagging!
        </p>
      </div>
    </div>
  </section>

  <div id="color-container" class="columns mt-6 mx-6 is-multiline">
    
  </div>

  <script src="/js/colorDataset.js"></script>
</body>

</html>