<!DOCTYPE html>

<html>

<head>
  <title>Yiff Today - Visual Tagger</title>

  <%- include("./partials/head"); %>
  <link rel="stylesheet" href="/css/visualtagger.css">
  <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
</head>

<body>
  <div id="slide-wrapper" class="columns mx-6 mt-2">
    <div class="column is-8">
      <img id="current-image" />
      <video id="current-video" autoplay="true" loop="true" volume="0" controls>
        <source type="video/webm">
        </source>
      </video>
      <img id="loading-animation" src="img/loading.gif" alt="Loading Slide" />
      <!-- <div>
        <button id="download-button" class="button is-info">Download</button>
      </div> -->
      <div id="tags" style="display:none;"></div>

      <div id="navigation" class="columns">
        <div class="column is-8 is-offset-2 mb-6 has-text-centered">
          <span id="current-slide-number"></span> of <span id="total-slide-number"></span><br>
          <button class="nav-button" id="first-button">&lt;&lt;</button>
          <button class="nav-button" id="previous-button">&lt;</button>
          <button class="nav-button" id="next-button">&gt;</button>
          <button class="nav-button" id="last-button">&gt;&gt;</button>
        </div>
      </div>

      <div id="thumbnail-list-wrapper">
        <div id="thumbnail-list">
        </div>
      </div>
    </div>
    <div id="tag-changer-container" class="column is-4 has-text-left has-text-light">
      <div id="review-add-tag-modal" class="custom-modal">
        <div class="modal-background"></div>
        <div class="modal-content mt-6" style="width:100%; overflow-x:hidden;">
          <div class="columns has-text-centered mt-3">
            <div class="column is-4 is-offset-4 box is-size-4 is-size-6-touch has-text-info">
              Preview Tag Tree
            </div>
          </div>
          <div class="columns">
            <div id="review-tag-tree-container" class="column"></div>
          </div>
          <div class="columns">
            <div class="column is-4 is-offset-4 has-text-centered">
              <button id="review-tag-add-button" class="button is-success">Add</button>
            </div>
          </div>
        </div>
        <button id="close-review-add-tag-button" class="modal-close is-large" aria-label="close"></button>
      </div>
      <div id="review-changes-modal" class="custom-modal">
        <div class="modal-background"></div>
        <div class="modal-content is-clipped mt-6" style="width:100%">
          <div class="columns has-text-centered mt-3">
            <div class="column is-4 is-offset-4 box is-size-4 is-size-6-touch has-text-info">
              Review Changes
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div id="tag-changes-review" class="textarea is-info has-background-dark" style="overflow-y: scroll;"></div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-4 is-offset-4 has-text-centered">
              <button id="confirm-submit" class="button is-success">Submit</button>
            </div>
          </div>
        </div>
        <button id="close-review-button" class="modal-close is-large" aria-label="close"></button>
      </div>
      <div id="response-modal" class="custom-modal">
        <div class="modal-background"></div>
        <div class="modal-content is-clipped mt-6" style="width:100%">
          <div class="columns has-text-centered my-3">
            <div id="response-title" class="column is-4 is-offset-4 box is-size-4 is-size-6-touch has-text-info"></div>
          </div>
          <div class="columns">
            <div class="column">
              <div id="response-content" class="textarea is-info has-background-dark has-text-light" style="overflow-y: auto;"></div>
            </div>
          </div>
        </div>
        <button id="close-response-button" class="modal-close is-large" aria-label="close"></button>
      </div>
      <div id="tag-container" class="content"></div>
      <div class="columns is-multiline">
        <div class="column is-full">
          <div class="field has-addons">
            <div class="control">
              <div class="dropdown" id="autocomplete-dropdown-container">
                <div class="dropdown-trigger">
                  <input id="new-tag-input" class="input" type="text" placeholder="Add a tag">
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content" id="autocomplete-menu"></div>
                </div>
              </div>
            </div>
            <div class="control">
              <button id="add-tag-button" class="button is-success">
                Add tag
              </button>
            </div>
            <div class="control">
              <button id="review-add-tag-button" class="button is-info">
                Preview tree
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <button id="submit-changes-button" class="button is-primary">Submit changes</button>
          <button id="copy-tags-button" class="button is-link">Copy tags</button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <button id="show-current-button" class="button is-info">Show current</button>
          <button id="show-changed-button" class="button is-info">Show additions</button>
          <button id="collapse-all-button" class="button is-info">Collapse all</button>
          <button id="show-all-button" class="button is-info">Show all</button>
        </div>
      </div>
    </div>
  </div>

  <div id="thumbnail-list-wrapper">
    <div id="thumbnail-list">
    </div>
  </div>

  <div class="columns">
    <div class="is-container box column is-10 is-offset-1 my-6 pb-5 has-text-centered">
      <p id="warning-message"></p>
      <p id="info-message"></p>
      <sub>New here? Make sure to read the <a href="https://e621.net/forum_topics/40904" target="_blank">forum post</a>!</sub><br>
      <input id="search-text" type="text" placeholder="Search tags" list="search-history" /><br>
      <input id="start-page-number" type="number" placeholder="Start page" min="1" /><br>
      <button id="search-button">Search</button>
      <datalist id="search-history"></datalist>
    </div>
  </div>

  <div class="columns">
    <div class="options is-container box column is-2 is-offset-1 my-6 has-text-centered">
      <h4 class="is-size-5 has-text-weight-bold has-text-light">Filtering</h4>
      <ul>
        <li>
          <label><input id="include-images" type="checkbox" checked />Include Images</label>
        </li>
        <li>
          <label><input id="include-gifs" type="checkbox" checked />Include GIFs</label>
        </li>
        <li>
          <label><input id="include-webms" type="checkbox" />Include WEBMs</label>
        </li>
        <li>
          <label><input id="include-explicit" type="checkbox" />Include Explicit</label>
        </li>
        <li>
          <label><input id="include-questionable" type="checkbox" />Include Questionable</label>
        </li>
        <li>
          <label><input id="include-safe" type="checkbox" checked />Include Safe</label>
        </li>
        <li class="hidden">
          <label><input id="include-favorites" type="checkbox" checked />Include Favorites</label>
        </li>
        <li>
          <label><input id="include-seen" type="checkbox" />Include Seen</label>
        </li>
        <li class="note">
          Searching for only GIFs or WEBMs may take forever since it is still going through all image results.
          Consider adding "animated" to the search query.
        </li>
      </ul>

      <h4>Local Tags</h4>
      <ul id="local-tags-container">
        <li>
          <textarea id="local-tags" placeholder="example example2 ( tag1 tag2 ) ( -x -y )"></textarea>
        </li>
        <li class="note">
          These tags are checked locally, supporting tag grouping and proper "or" tag resolving in those groups. These do not support groups within groups.
        </li>
      </ul>

      <h4>Blacklist</h4>
      <ul id="blacklist-container">
        <li>
          <textarea id="blacklist" placeholder="example example2"></textarea>
        </li>
        <li class="note">
          These tags are checked locally. Supports tag groups.
        </li>
      </ul>
    </div>

    <div class="is-container box column is-4 is-offset-1 my-6 has-text-centered">
      <h4 class="is-size-5 has-text-weight-bold has-text-light">Hotkeys</h4>
      <ul class="has-text-light">
        <li>Full-screen (F11)</li>
        <li>Next slide (&rarr; or D)</li>
        <li>Previous slide (&larr; or A)</li>
        <li>Forward 10 slides (&uarr; or W)</li>
        <li>Back 10 slides (&darr; or S)</li>
        <li>Open current image in new tab (E)</li>
        <li>Download Current Image (L or Numpad period)</li>
        <li class="hidden">Favorite/Unfavorite Image (G or Numpad zero - <a id="login" class="is-underlined">Must be logged in</a>)</li>
        <hr />
        <li class="is-size-4 has-text-weight-semibold has-text-light">Video Controls</li>
        <li>Backward 5 seconds (1)</li>
        <li>Forward 5 seconds (2)</li>
        <li>Play/pause video (3)</li>
        <li class="note">
          Both regular and numpad work
        </li>
      </ul>
    </div>

    <div class="options is-container box column is-2 is-offset-1 my-6 has-text-centered">
      <h4 class="is-size-5 has-text-weight-bold has-text-light">History</h4>
      <ul>
        <li><label><input id="store-history" type="checkbox" checked />Store Search History</label></li>
        <li class="note">
          Up to 100 queries are saved. Uses localStorage.
        </li>
        <li><button id="clear-history">Clear Search History</button></li>
        <li><label><input id="store-seen" type="checkbox" checked />Store Seen</label></li>
        <li class="note">
          Up to 800,000 are saved (about 6MB).
        </li>
        <li><button id="clear-seen">Clear Seen History</button></li>
        <li class="hidden"><button id="view-favorites">View All Favorites</button></li>
        <li class="hidden note">
          Favorites are stored on the server as there"s no way to store the size it requires client side. Due to this, there are limits to the amount of favorites you can have. <span class="has-text-info">Current limit is 10,000</span>. Tags are saved at the first time a user favorites. This allows a lot of space to be saved server side.
          <br />
          <span class="class=hidden has-text-danger">Due to rate limits on E621, favorites are added in batches of up to 40/s</span> for everyone. (40 tags max, at a 1 req/s rate limit) This means your favorites might be quite delayed if many people are using the app at the same time. However, this is unlikely.
        </li>
      </ul>
    </div>
  </div>

  <div class="columns">
    <div class="options is-container box column is-4 is-offset-4 my-6 has-text-centered">
      <h4 class="is-size-5 has-text-weight-bold has-text-light">E621 Login</h4>
      <ul>
        <li>
          <label>E621 Username <input id="e621-username" type="text" /></label>
        </li>
        <li>
          <label>E621 API Key <input id="e621-api-key" type="password" /></label>
        </li>
        <li><a href="https://e621.net/users/home" target="_blank">(get API key here)</a></li>
        <li class="note">
          This is saved locally, however it is saved in plaintext. <span class="has-text-warning">Use with caution</span>.
          <br>
          Allows you to upload tag changes by pressing submit.
        </li>
      </ul>
    </div>
  </div>

  <script src="https://unpkg.com/gif-frames@1.0.1/dist/gif-frames.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fuzzysort@2.0.4/fuzzysort.min.js"></script>
  <script src="/js/globals.js"></script>
  <script src="/js/visualtagger/slideshowElements.js"></script>
  <script src="/js/Slide.js"></script>
  <script src="/js/E621Requester.js"></script>
  <script src="/js/e621AutoCompleter.js"></script>
  <script src="/js/visualtagger/e621WikiFetcher.js"></script>
  <script src="/js/dataHandler.js"></script>
  <script src="/js/visualtagger/e621LoginHandler.js"></script>
  <script src="/js/filterHandler.js"></script>
  <script src="/js/historyHandler.js"></script>
  <script src="/js/visualtagger/tagImplicationHandler.js"></script>
  <script src="/js/visualtagger/slideshowController.js"></script>
  <script src="/js/visualtagger/tagTreeHandler.js"></script>
</body>

</html>